<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <h1>Dear <%= @reservation.host.name %>,</h1>
  <p>
    The previously requested reservation by <%= @reservation.user.name %> for <%= @reservation.property.title %> has been cancelled. We hope all is well.
  </p>
  <p>
    To review and manage your reservation requests, visit <a href="http://travel-home.herokuapp.com<%= my_guests_path %>"></a>.
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --TravelHome
  </p>
</body>
</html>
