<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <p>
    Dear <%= @host_name %>,
  </p>
  <p>
    The previously requested reservation by <%= @traveler_name %> for <%= @property_name %> has been cancelled. We hope all is well.
  </p>
  <p>
    To review and manage your reservation requests, visit http://home-away.herokuapp.com<%= my_guests_path %>.
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --HomeAway
  </p>
</body>
</html>
