<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <p>
    Dear <%= @traveler_name %>,
  </p>
  <p>
    We regret to inform you that the reservation you requested for <%= @property_name %> for the dates of <%= @start_date %> to <%= @end_date %> has been denied. You will not be charged for this reservation. Sorry about that!
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --HomeAway
  </p>
</body>
</html>
