<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type'/>
</head>
<body>
  <h1>Dear <%= @user_name %>,</h1>
  <p>
    Welcome to TravelHome! Please visit http://travel-home.herokuapp.com/users/edit/<%= @id %> and add your address to complete the sign-up process.
  </p>
  <p>
    Once you're done, feel free to browse our locations at http://travel-home.herokuapp.com/properties to find your next dream vacation destination. Happy Travels!
  </p>
  <p>
    Best Regards,
  </p>
  <p>
    --TravelHome
  </p>
</body>
</html>
