<div class="modal fade" id="partnerModal" tabindex="-1" role="dialog" aria-labelledby="partnerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add a Partner</h3>
      </div>
      <div class="modal-body">
        <div class="edit-form better-edit-display">
          <%= form_tag partners_path do %>
          <div class="form-group">
            <%= label_tag "user[email_address]", "Indicate the user you would like to designate as a partner" %>
            <%= text_field_tag "user[email_address]", "Email Address", class: "modal-form form-control"  %>
          </div>
          <div class="actions">
            <%= submit_tag "Partner Up", class: "btn btn-default" %>
          <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
