<%= form_tag partners_path do %>
  <div>
    Enter the person's email you would like to become a partner:
  </div>
  <%= text_field_tag "user[email_address]" %>

  <%= submit_tag "Partner up wit dis breh" %>
<% end %>
