<div class="container">
  <% if @properties.any? %>
    <%= render partial: "partials/menu" %>
  <% else %>
    <% if is_the_host? %>
      <h3><%= link_to "Hey breh you need some properties", new_property_path %></h3>
    <% end %>
    <h3>NO PROPERTIES SUCKER CHECK BACK LATER</h3>
  <% end %>
</div>
