<div class="container sidenav col-md-3 affix">
    <ul class="nav nav-pills nav-stacked sidenav-list" id="sidebar">
      <% @categories.each do |category| %>
        <li class="menu-link shadow"><%= link_to category.name, "#category-id-#{category.id}" %></li>
      <% end %>
    </ul>
</div>
