<div id="sidebar"class="col-xs-3" data-spy="affix">
    <ul class="nav nav-pills nav-stacked" id="sidebar">
      <% @categories.each do |category| %>
        <li><a href="#category-id-<%= category.id%>"><%= category.name %></a></li>
      <% end %>
    </ul>
</div>



<!-- <li class="active"><a href="#section-1">Section One</a></li> -->
