<div class="listing">
  <div class="row">
   <div class="col-md-12">
     <div class="filter-head">
       Refine your search
     </div>
     This will be a menu.<br>
     Filter by category. <br>
     Filter by whatevs. <br>
   </div>
 </div>
</div>
