<% cache 'header' do %>
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <header class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="brand-box">
            <h1 class="brand-heading">Explore<span> the </span>World</h1>
            <p class="intro-text">Without leaving the comfort of your home.</p>
            <a href="#about" class="btn btn-circle page-scroll">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
      </header>
    </div>
  </body>
<% end %>