<div class="container menu">
  <div class="row">
    <div class="col-md-2 filter-div">
      <%= render partial: 'partials/filter_menu' %>
    </div>
    <div class="col-md-10 properties">
      <%= render partial: 'partials/listings' %>
    </div>
  </div>
</div>
