<div class="container menu">
  <div class="row">
    <div class="col-md-2">
      <%= render partial: 'partials/filter_menu' %>
    </div>
    <div class="col-md-10" id="properties">
      <%= render partial: 'partials/listings' %>
    </div>
  </div>
</div>
