<div class="container menu-properties-block col-md-9">
  <% @properties.each do |property| %>
    <%= content_tag :div, class: "category-block row", id: "category-#{property.category.name}" do %>
      <%= render partial: property %>
    <% end %>
  <% end %>
</div>
