<div class="functional-header">
  <header class="property-menu">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="brand-box">
        </div>
      </div>
    </div>
    </header>

    <div class="row">
      <%= render partial: "partials/menu" %>
    </div>
</div>
