<%= render partial: 'partials/header' %>
<section id="about" class="container content-section text-center">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <h2>How does this work?</h2>
    <p>Hosts on TravelHome are located all over the world with extra rooms, cabins, and unique accommodations like balloons and boats. Browse by clicking "Properties" above.</p>
    <p>Sign up or log in to book a reservation.</p>
    <p>If you have an amazing place you'd like to share, check the "I'd like to become a host" box on the sign-up form. You can also edit your profile after signing up and check the box there.</p>
    <p>Happy travels!</p>
  </div>
</div>
</section>
