<div class="edit-form">
  <table class="table table-hover">
    <thead>
      <th>Date</th>
      <th>Total</th>
      <th>Status</th>
    </thead>
    <tbody>
      <% @reservations.each do |reservation| %>
      <tr class="reservation reservation_<%= reservation.id %>">
        <td class="date"><%= link_to reservation.updated_at, reservation_path(reservation) %></td>
        <td class="total">$<%= reservation.total %></td>
        <td class="status"><%= reservation.status %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
