<div class="functional-header">
<header class="reservation-menu">
    <div class="row">
      <div class="col-md-8">
        <div class="profile-header brand-box">
          <h1 class="reservation-header brand-heading">My <span>Trips</span><h1>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="container">
    <%= render :partial => 'partials/pending_reservation', locals: {reservation: @reservation} %>
  <div class="row">
    <div class="col-md-12">
      <h3>Directions</h3>
    </div>
  </div>
</div>

<% unless current_user.address.nil? %>
<iframe id="map" frameborder="0" style="border:0" src=<%= "https://www.google.com/maps/embed/v1/directions?key=AIzaSyCzueOTNlgqagtZxGARWKl3M28HRnn57Fs&origin=#{current_user.address.escape_street}+#{current_user.address.escape_city}&destination=#{@reservation.property.address.escape_street}+#{@reservation.property.address.escape_city}" %>> </iframe>
<% end %>
