<div id="item-edit-form">
  <% @cart.data.each do |_, item| %>
    <h1><%= item.title %></h1>Price: $<%= item.price %>
    <h2>Quantity: <%= item.quantity %></h2>
  <% end %>
  Total: $<%= @cart.total_cost %>
</div>
