/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

.img-responsive { min-width: 100% }

div#background {background-image: url(/images/fence-background.jpg);
                position: fixed;
                opacity: .95;
                width: 100%;
                height: 100%;
                z-index: -1
                }

.sidenav {background-image: url(/images/ricepaper.png);
          opacity: .7;
          width: 25%;
          border-radius: 10px;
          margin-left: 1%;
          padding-top: 10px;
          padding-bottom: 10px;
          }

.sidenav.affix-top { max-height: 325px}

@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a { color: #ffffff;
text-shadow: 2px 2px #00000f;
  }
nav.navbar {
   width: 100%;
   z-index: 1;
   padding-left: 1%;
   padding-right: 2%;
   opacity: .9;
}
#container { width: 70%;
             float: right;
            }

.navbar.custom-color { background-color: #CCA714 }
nav.navbar.affix{
        top: 0px; /* Set the top position of pinned element */
    }


head {
       margin-bottom: 0px;
      }

div.category-title {display: block;
                    max-height: 50px}

h2.menu-category {}

.menu_item { height:200px; }

.bottomright {position:absolute; bottom:0;  margin-bottom:7px; margin:7px; right: 0;}
li.menu-link {
              text-decoration: none;
              color: #FFD119;
              font-family: Arial, sans-serif;
              font-size: medium;
              letter-spacing: 1px;
              line-height: 40px;
              font-weight: bold;
              font-size: 150%
              }

ul.main-nav {position: inherit}
