/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap/theme";

body {height: 100%;}

.navbar-inverse { background-image: asset-url('black_mamba.png');
                  // background-color: #E6BC2C;
                  border: none;
                  border-radius: 0px;}

.img-responsive { width: 100% }

div#background-fence {background-image: asset-url('fence-background.jpg');
                      background-size: contain;
                      position: fixed;
                      opacity: .95;
                      height: 100%;
                      max-width: inherit;
                      z-index: -1;
                      }

.glyphicon-plus { float:right;
}

.glyphicon-minus { float:left;
}

.float_left { float:left;
  padding:3px;
  margin:3px;
}

span.anchor {position:relative;
             display: block;
             }

ul.sidenav-list { z-index: 1;
                  position: relative
                  }

ul.sidenav.affix-top {
                   top: 50%;
                  }

.container-fluid {  padding-left: 0px;
                    padding-right: 0px;
                  }

.row { margin-right: 0px;

}

li.menu-link > a {
              color: #E6BC2C;
              font-family: 'Stardos Stencil';
              font-size: 250%;
              letter-spacing: 2px;
              line-height: 30px;
              font-weight: bold;
              line-height: 30px;

              }
h2.menu-category {font-family: 'Stardos Stencil';
                  color: #E6BC2C;
                  font-size: 200%;
                  letter-spacing: 2px;
                  opacity: 0.9;
                  text-align: left;
                  margin-left: 10px;
                  text-transform: uppercase;
                  margin-top: 5%;
                  }

div.thumbnail {height: 350px;
             width: 250px;
             margin: 10px;
             background-image: asset-url('thumb-background.jpg');
             background-size: contain;
             border: none;
             }

div.thumbnail * {
  font-family: 'Stardos Stencil';
  color: white;
}

div.thumbnail h3 {
  font-weight: bold;
}

div.thumbnail a {
  color: black;
  font-family: 'Stardos Stencil';
}

.shadow {text-shadow:
                    -1px -1px 0px #000,
                    0px -1px 0px #000,
                    1px -1px 0px #000,
                    -1px  0px 0px #000,
                    1px  0px 0px #000,
                    -1px  1px 0px #000,
                    0px  1px 0px #000,
                    1px  1px 0px #000;
        }
@mixin center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a.btn-success {background-color: none;
               background-image: asset-url('cart-background.png');
               border-color: #E30908;
               color: #e0e0e0;
               font-family: 'Stardos Stencil';
              }

a.btn-success:hover {
  border-color: #E30908;
  color: black;
  }

nav.navbar {
   width: 100%;
   z-index: 1;
   padding-left: 1%;
   padding-right: 2%;
   margin-bottom: 0px;
}

.nav-link {font-family: 'Stardos Stencil';
                     }

.admin-new-stuff-buttons { font-family: 'Stardos Stencil';
            display: inline;
            padding-top: 5px;
            margin-left: 50%;
            margin-right: 10px;
            float: right
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 130%;
  color: white;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: #E6BC2C;
}



.menu-items-block { float: right;
            }


.edit-form { background-image: asset-url('ricepaper.png');
             padding: 40px;
             margin-top: 5%;
             margin-bottom: 5%;
             }

.better-edit-display * {display: block;
                        margin: 5px;
                        }

head {
       margin-bottom: 0px;
      }

div.category-title {display: block;
                    max-height: 50px}


.head-banner { width: 100%;
               }

.banner-image {position: relative}

.title-text { position: absolute;
              z-index: 1;
              font-family: 'Stardos Stencil';
              // margin-left: auto;
              // margin-right: auto;
              text-align: center;
              width: 100%
              }

#established {
              color: #E30908;
              font-size: 275%;
              letter-spacing: 3px;
              }

#main-title {
             color: #E6BC2C;
             font-size: 525%;
             letter-spacing: 2px;
             }


.menu_item { height:200px; }

ul.main-nav {position: inherit}

.add-to-cart { position: absolute;
               bottom: 10px;
               right: 10px;
               margin: 0;
               padding: 5px 3px
              }

p#price{position:absolute;
  bottom:10px;
  left:10px;
  margin:0;
  padding:5px 3px;
  font-size: 125%
  }

.modify_button {  position:absolute;bottom:10px;right:10px;margin:0;padding:5px 3px;}

.notice {color: #00CD02;
         background-color: white;
         border-radius: 10px;
         text-align: center;
         font-size: 115%;
         letter-spacing: 1px;}

.notice.login-checkout {color: red;
                        }

.role-filters {
  width: 50%;
  margin-top: 30px;
}
