.property-menu {
  display: table;
  width: 100%;
  height: auto;
  text-align: center;
  color: #fff;
  background: image-url("vw_thin.jpeg") no-repeat bottom center scroll;
  background-color: #000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.functional-header {
  width: 100%;
}
