#map {
  width: 100%;
  height: 250px;
}

.avatar {
  width: 90px;
  height: 90px;
}

.details-img {
  font-size: 2.4em;
}

.page-container-responsive {
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.page-container-responsive h3 {
  margin: 0;
}

.property-location {
  margin-bottom: 10px;
}

.datepicker {
  margin-top: 10px;
  margin-bottom: 10px;
}

.property-img-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}
