#img-left {
  margin-top: 120px;
  float: left;
  font-size: 150px;
  color: rgba(255,255,255,0.7);
}

#img-right {
  margin-top: 120px;
  float: right;
  font-size: 150px;
  color: rgba(255,255,255,0.7);
}

.primary img{
  max-width:600px;
}

#map {
  width: 100%;
  height: 250px;
}

.avatar {
  width: 90px;
  height: 90px;
}

.details-img {
  font-size: 2.4em;
}

.page-container-responsive {
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.more-properties {
  font-size: 12px;
}

.page-container-responsive h3 {
  margin: 0;
}

.property-location {
  margin-bottom: 10px;
}

.datepicker {
  margin-top: 10px;
  margin-bottom: 10px;
}

.property-img-main {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

#wishlist a{
   color: #777;;
}