<div class="edit-form">
  <table class="table table-hover">

    <thead>
      <th>Name</th>
      <th>Created At</th>
      <th>Admin?</th>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="user user_<%= user.id %>">
            <td class="name"><%= link_to user.name, user_path(user) %></td>
            <td class="date"><%= user.created_at %></td>
            <td class="admin?"><%= user.admin? %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
</div>
